.details-div {
	background-color: rgba(43, 46, 51, .6);
	margin: auto;
	margin-top: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 80%;
}

.hourly-details-div {
	background-color: rgba(43, 46, 51, .6);
	margin: auto;
	margin-top: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 90%;
}

.hour-detail {
	border-right: 1px solid gray;
	width: 25%;
}

.hour-detail-end {
	width: 25%;
}

.hour-item {
	margin: 10px 0px;
}

.hour-item-labels {
	border-bottom: 1px solid gray;
}
